@page "/ua"
@using uaParserLibrary.Models
 @inject ClientInfo  clientInfo


<h2>ClientInfo</h2>

 <h3><pre>@clientInfo.Browser</pre></h3>
 <h3><pre>@clientInfo.CPU</pre></h3>
 <h3><pre>@clientInfo.Engine</pre></h3>
 <h3><pre>@clientInfo.OS</pre></h3>
 <h3><pre>@clientInfo.Device</pre></h3>